* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/pexels1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 5rem;
  position: absolute;
  top: 300px;
  text-align: center;
  width: 75%;
}

h3 {
  font-size: 3rem;
  position: absolute;
  top: 100px;
  color: #000;
}
